*#
*~
.#*
tags
TAGS
dist-newstyle
goic
*.asm
*.o
main
examples/fib
examples/putc
examples/print_int
examples/while_loop
.gdb_history
examples/functions
examples/boolean_operators
examples/boolean_short_circuit
examples/negate
examples/not
examples/many_args
examples/pointers
